<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <link rel="stylesheet" href="../css/styles.css">
</body>
</html>


<footer class="bg-dark text-white py-4">
    <div class="container text-center">
        <a href="#" class="navbar-brand font-weight-bold text-white">CHATSHOP</a>
        <div class="my-3">
            <a href="#" class="fab fa-facebook fa-2x text-white mx-3"></a>
            <a href="https://twitter.com" class="fab fa-twitter fa-2x text-white mx-3"></a>
            <a href="https://instagram.com" class="fab fa-instagram fa-2x text-white mx-3"></a>
            <a href="https://linkedin.com" class="fab fa-linkedin fa-2x text-white mx-3"></a>
        </div>
        <p>&copy; 2024 CHATSHOP. All rights reserved.</p>
    </div>
</footer>
