<header class="header">

   <div class="flex">

      <a href="#" class="logo" style="font-weight: bolder;">CHATSHOP</a>

      <nav class="navbar">+
         <a href="/addProduct">add products</a>
         <a href="/user">view products</a>
         <a href="/logout" class="logout-btn">Logout</a>
   
      </nav>
      

      <div id="menu-btn" class="fas fa-bars"></div>

   </div>

</header>



