<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="/css/newstyles.css">
</head>
<body>
    <% if (error) { %>
        <div class="error"><span><%= error %></span> <i class="fas fa-times" onclick="this.parentElement.style.display = 'none';"></i></div>
    <% } %>

    <% if (message) { %>
        <div class="message"><span><%= message %></span> <i class="fas fa-times" onclick="this.parentElement.style.display = 'none';"></i></div>
    <% } %>

        <h1 class="logo" style="font-weight: bolder; color:#2980b9">CHATSHOP</h1>
        <form action="/login" method="post" class="input-form">
            <div class="box">
                <label for="email">Email:</label>
                <input type="email" name="email" required>
                <label for="password">Password:</label>
                <input type="password" name="password" required>
                <input type="submit" value="Login">
                <p>Don't have an account? <a href="/">Register here</a></p>
            </div>
        </form>

    <script src="/js/script.js"></script>
</body>
</html>